<!DOCTYPE html>
<html ng-app="clanMan">
  <head>
    <meta charset="utf-8">
    <title>CoC Clan Manager</title>
    <link rel="stylesheet" href="/static/css/app.css">
  </head>

  <body>
    <h1>Clash of Clans Clan Manager</h1>
    <div id="clanMan" ng-controller="ClanController">
      <p ng-hide="{{errorMsg === undefined}}">An error has occurred: {{errorMsg}}</p>
      <img ng-src="{{clanData.badgeUrlMedium}}">
      <p>{{clanData.clanLevel}}</p>
      <h2>{{clanData.name}}</h2>
      <h3>{{clanData.tag}}</h3>
      <p>Total points {{clanData.clanPoints}}<p>
      <p>Wars Won {{clanData.warWins}}</p>
      <p>War Win Streak {{clanData.warWinStreak}}</p>
      <p>Members {{clanData.numMembers}}/50</p>

      <table>
        <tr>
          <th ng-click="order('clanRank')">
            Rank
            <span class="sortorder" ng-show="orderCol === 'clanRank'"
                  ng-class="{reverse:reverse}"></span>
          </th>
          <th ng-click="order('name')">
            Name
            <span class="sortorder" ng-show="orderCol === 'name'"
                  ng-class="{reverse:reverse}"></span>
          </th>
          <th ng-click="order('role')">
            Role
            <span class="sortorder" ng-show="orderCol === 'role'"
                  ng-class="{reverse:reverse}"></span>
          </th>
          <th ng-click="order('expLevel')">
            Experience
            <span class="sortorder" ng-show="orderCol === 'expLevel'"
                  ng-class="{reverse:reverse}"></span>
          </th>
          <th ng-click="order('currentDonations')">
            Season Troops Donated
            <span class="sortorder" ng-show="orderCol === 'currentDonations'"
                  ng-class="{reverse:reverse}"></span>
          </th>
        </tr>
        <tr ng-repeat="member in clanData.memberList | orderBy:orderCol:reverse">
          <td>{{member.clanRank}}</td>
          <td>{{member.name}}</td>
          <td>{{member.role}}</td>
          <td>{{member.expLevel}}</td>
          <td>{{member.currentDonations}}</td>
        </tr>
      </table>

    </div>

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="/static/js/app.js"></script>
  </body>
</html>
