<!DOCTYPE html>
<html ng-app="clanMan">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/app.css">

    <title>CoC Clan Manager</title>
  </head>

  <body>
    <div class="container">
      <h1>Clash of Clans Clan Manager</h1>
      <div id="clanMan" ng-controller="ClanController">
        <p ng-show="errorMsg">An error has occurred: {{errorMsg}}</p>
        <img ng-src="{{clanData.badgeUrlMedium}}">
        <p>{{clanData.clanLevel}}</p>
        <h2>{{clanData.name}}</h2>
        <h3>{{clanData.tag}}</h3>
        <p>Total points {{clanData.clanPoints}}<p>
        <p>Wars Won {{clanData.warWins}}</p>
        <p>War Win Streak {{clanData.warWinStreak}}</p>
        <p>Members {{clanData.numMembers}}/50</p>

        <table ng-hide="errorMsg">
          <tr>
            <th ng-click="order('clanRank')">
              Rank
              <span class="sortorder" ng-show="orderCol === 'clanRank'"
                    ng-class="{reverse:reverse}"></span>
            </th>
            <th ng-click="order('name')">
              Name
              <span class="sortorder" ng-show="orderCol === 'name'"
                    ng-class="{reverse:reverse}"></span>
            </th>
            <th ng-click="order('role')">
              Role
              <span class="sortorder" ng-show="orderCol === 'role'"
                    ng-class="{reverse:reverse}"></span>
            </th>
            <th ng-click="order('expLevel')">
              Experience
              <span class="sortorder" ng-show="orderCol === 'expLevel'"
                    ng-class="{reverse:reverse}"></span>
            </th>
            <th ng-click="order('currentDonations')">
              Season <br> Troops <br> Donated
              <span class="sortorder" ng-show="orderCol === 'currentDonations'"
                    ng-class="{reverse:reverse}"></span>
            </th>
            <th ng-click="order('currentDonationsRec')">
              Season <br> Troops <br> Received
              <span class="sortorder" ng-show="orderCol === 'currentDonationsRec'"
                    ng-class="{reverse:reverse}"></span>
            </th>
            <th ng-click="order('totalDonations')">
              Total <br> Troops <br> Donated
              <span class="sortorder" ng-show="orderCol === 'totalDonations'"
                    ng-class="{reverse:reverse}"></span>
            </th>
            <th ng-click="order('totalDonationsRec')">
              Total <br> Troops <br> Received
              <span class="sortorder" ng-show="orderCol === 'totalDonationsRec'"
                    ng-class="{reverse:reverse}"></span>
            </th>
            <th ng-click="order('firstTrackedTime')">
              First Tracked
              <span class="sortorder" ng-show="orderCol === 'firstTrackedTime'"
                    ng-class="{reverse:reverse}"></span>
            </th>
            <th ng-click="order('lastActiveTime')">
              Last Donated
              <span class="sortorder" ng-show="orderCol === 'lastActiveTime'"
                    ng-class="{reverse:reverse}"></span>
            </th>
          </tr>
          <tr ng-repeat="member in clanData.memberList | orderBy:orderCol:reverse">
            <td>{{member.clanRank}}</td>
            <td>{{member.name}}</td>
            <td>{{member.role}}</td>
            <td>{{member.expLevel}}</td>
            <td>{{member.currentDonations}}</td>
            <td>{{member.currentDonationsRec}}</td>
            <td>{{member.totalDonations}}</td>
            <td>{{member.totalDonationsRec}}</td>
            <td>{{member.firstTrackedTime | date:'dd-MMM-yy'}}</td>
            <td>{{member.lastActiveTime | date:'dd-MMM-yy'}}</td>
          </tr>
        </table>

      </div>
    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="/static/js/app.js"></script>
  </body>
</html>
