body {
    font-family: 'Exo', sans-serif;
    font-weight: 400;
    background-color: #ffffeb;
}

h1 {
    font-weight: 800;
    text-align: center;
}

h3 {
    font-weight: 800;
}

table {
    margin: 0 auto;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

table#clan-stats {
    font-size: 1.3em;
}

table#clan-stats > thead > tr > th:nth-child(2) {
    text-align: right;
}

table#clan-stats > tbody > tr > td:nth-child(2) {
    text-align: right;
}

.clan-level {
    text-align: center;
    margin-top: -0.8em;
    margin-left: 0.5em;
}

.sortorder:after {
    content: '\25b2';
}

.sortorder.reverse:after {
    content: '\25bc';
}

@media screen and (min-width: 768px) {
    #clan-shield {
        margin-left: 0;
    }

    .clan-level {
        text-align: left;
        margin-left: 1.4em;
    }
}