<!DOCTYPE html>
<html ng-app="clanMan">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Exo:400,800'>
    <link rel="stylesheet" href="static/css/app.css">
    <link rel="icon" type="image/png" href="static/images/favicon.png">

    <title>CoC Clan Manager</title>
  </head>

  <body>
    <div class="container">
      <h1>Clash of Clans Clan Manager <small>v0.2</small></h1>
      <div id="clanMan" ng-controller="ClanController">
        <h2 class="bg-danger" ng-show="errorMsg">An error has occurred: {{errorMsg}}</h2>
        <div class="row" ng-hide="errorMsg">
          <div class="col-sm-6">
              <img ng-src="{{clanData.badgeUrlMedium}}" class="img-responsive center-block"
                   id="clan-shield" ng-click="update()" bs-tooltip data-placement="right"
                   title="Click to refresh data...">
              <h1 class="clan-level">Level {{clanData.clanLevel}}</h1>
          </div>
          <div class="col-sm-6">
            <table class="table table-condensed table-no-bordered" id="clan-stats">
              <thead>
                <tr>
                  <th>{{clanData.name}}</th>
                  <th>{{clanData.tag}}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Total points</td>
                  <td>{{clanData.clanPoints}}</td>
                </tr>
                <tr>
                  <td>Wars Won</td>
                  <td>{{clanData.warWins}}</td>
                </tr>
                <tr>
                  <td>Wars Tied</td>
                  <td>{{clanData.warTies}}</td>
                </tr>
                <tr>
                  <td>Wars Lost</td>
                  <td>{{clanData.warLosses}}</td>
                </tr>
                <tr>
                  <td>War Win Streak</td>
                  <td>{{clanData.warWinStreak}}</td>
                </tr>
                <tr>
                  <td>Longest War Win Streak</td>
                  <td>{{clanData.warWinStreakHigh}}</td>
                </tr>
                <tr>
                  <td>Members</td>
                  <td>{{clanData.numMembers}}/50</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table table-hover" ng-hide="errorMsg">
            <thead>
              <tr>
                <th ng-click="order('clanRank')">
                  Rank<span class="sortorder" ng-show="orderCol === 'clanRank'"
                            ng-class="{reverse:reverse}"></span>
                </th>
                <th ng-click="order('leagueId')">
                  League
                  <span class="sortorder" ng-show="orderCol === 'leagueId'"
                        ng-class="{reverse:reverse}"></span>
                </th>
                <th ng-click="order('name')">
                  Name
                  <span class="sortorder" ng-show="orderCol === 'name'"
                        ng-class="{reverse:reverse}"></span>
                </th>
                <th ng-click="order('role')">
                  Role
                  <span class="sortorder" ng-show="orderCol === 'role'"
                        ng-class="{reverse:reverse}"></span>
                </th>
                <th class="hidden-xs" ng-click="order('expLevel')">
                  Exp
                  <span class="sortorder" ng-show="orderCol === 'expLevel'"
                        ng-class="{reverse:reverse}"></span>
                </th>
                <th class="hidden-xs" ng-click="order('currentDonations')">
                  Season <br> Troops <br> Donated
                  <span class="sortorder" ng-show="orderCol === 'currentDonations'"
                        ng-class="{reverse:reverse}"></span>
                </th>
                <th class="hidden-xs" ng-click="order('currentDonationsRec')">
                  Season <br> Troops <br> Received
                  <span class="sortorder" ng-show="orderCol === 'currentDonationsRec'"
                        ng-class="{reverse:reverse}"></span>
                </th>
                <th ng-click="order('totalDonations')">
                  Total <br> Troops <br> Donated
                  <span class="sortorder" ng-show="orderCol === 'totalDonations'"
                        ng-class="{reverse:reverse}"></span>
                </th>
                <th ng-click="order('totalDonationsRec')">
                  Total <br> Troops <br> Received
                  <span class="sortorder" ng-show="orderCol === 'totalDonationsRec'"
                        ng-class="{reverse:reverse}"></span>
                </th>
                <th class="hidden-xs hidden-sm" ng-click="order('firstTrackedTime')">
                  First Tracked
                  <span class="sortorder" ng-show="orderCol === 'firstTrackedTime'"
                        ng-class="{reverse:reverse}"></span>
                </th>
                <th ng-click="order('lastActiveTime')">
                  Last Active
                  <span class="sortorder" ng-show="orderCol === 'lastActiveTime'"
                        ng-class="{reverse:reverse}"></span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="member in clanData.memberList | orderBy:orderCol:reverse">
                <td><span title="{{member.trophies}}" bs-tooltip>{{member.clanRank}}</span></td>
                <td><img ng-src="{{member.leagueIconTiny}}" title="{{member.leagueName}}"></td>
                <td>{{member.name}}</td>
                <td>{{member.role}}</td>
                <td class="hidden-xs">{{member.expLevel}}</td>
                <td class="hidden-xs">{{member.currentDonations}}</td>
                <td class="hidden-xs">{{member.currentDonationsRec}}</td>
                <td>{{member.totalDonations}}</td>
                <td>{{member.totalDonationsRec}}</td>
                <td class="hidden-xs hidden-sm">
                  {{member.firstTrackedTime | date:'dd-MMM-yy'}}
                </td>
                <td>
                  <span ng-hide="member.lastActiveTime === member.firstTrackedTime"
                        title="{{member.lastActiveTime | date: 'HH:mm'}}" bs-tooltip>
                    {{member.lastActiveTime | date:'dd-MMM-yy'}}
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="static/js/app.js"></script>
  </body>
</html>
